.resume-card {
    border-radius: 1em;
    text-align: center;
    margin: 1em;
}

.resume-card img {
    width: 10em;
    height: 10em;
    border-radius: 2em;
    margin-top: .5em;
    object-fit: cover;
}

@media (max-width: 600px) {
    .resume-card img {
        width: 5em;
        height: 5em;
    }
}
