section {
    min-width: 300px;
}

header {
   text-align: center;
}


.masonry-grid {
    column-count: 1;
    column-gap: 1rem;
    padding: 1rem;
  }
  
  @media (min-width: 950px) {
    .masonry-grid {
      column-count: 2;
    }
  }

  
  
  .masonry-item {
    break-inside: avoid;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  
  