main {
  border-radius: 1em;
  max-height: 900px;
}

.dashboard-wrapper {
  display: flex;
  border-radius: 2em;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em;
}

.side-letter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0;
}

.side-letters {
  font-weight: bold;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #161b22;
}

footer {
  margin-top: auto;
}

.pages-container {
  margin: 2em;
}

@media (max-width: 600px) {

  article {
    font-size: 1em;
    margin: 1em 0 0 1em;
    justify-content: flex-start;
    
  }

  .pages-container {
    margin: 1em;
  }

  aside {
    display: none;
  }
}
