<main>
  <!-- <app-header /> -->
  <section class="dashboard-wrapper">
    <article>
      <div class="side-letter-wrapper">
        @for (c of column.split(' '); track $index) { @for (c2 of c; track $index) {
        <span class="side-letters">{{ c2 }}</span>
        } @if ($index < column.split(' ').length - 1) {
        <span class="side-space">&nbsp;</span>
        } }
      </div>
    </article>
    <aside>
      <app-navbar />
      <app-footer />
    </aside>
    <div class="pages-container">
      <router-outlet />
    </div>
  </section>
</main>
